/* ============================
   Allgemeine Styles (für alle Geräte)
   ============================ */
body {
  margin: 0;
  font-family: sans-serif;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  overflow: hidden;
  height: 100vh;
}

:root {
  --small-font-size: 16px;
}

.container {
  padding: 16px;
  background-color: #f0f0f0;
}

span {
  cursor: pointer;
}

.arrow-up {
  transform: rotate(270deg);
}

.arrow-down {
  transform: rotate(90deg);

}

/* ============================
   Mobile-Styles (bis 799px)
   ============================ */
/*@media (max-width: 799px) {
  .viewport-container {
    width: 1179px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  */



/* ============================
   Desktop-Styles (ab z. B. 800px)
   ============================
@media (min-width: 800px) {
}
*/

.viewport-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    --count-blocks-on-page-1: 4;
    --gap-page1: 5%;
    --heights-of-page1: calc(85% / var(--count-blocks-on-page-1));
  }

#pages {
  width: calc(100vw * 4 - 2px);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  transition: transform 0.05s;
}

.page {
  width: 100%;
  max-width: 393px;
  /*
  margin: var(--margin-page);
  max-width: calc(393px - (var(--margin-page) * 2));
  height: calc(680px - (var(--margin-page) * 2));
  */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  flex: 0 0 100vw;
  transition: 0.01s ease;
  background-color: black;
}

.block{
  width: 100%;
  max-width: 100%;
  font-size: var(--small-font-size);
}

.scroll-container::-webkit-scrollbar { /*versteckt die scrollbar*/
  display: none;
  width: 0px;
  height: 0px;
  scroll-snap-type: none !important;
  -webkit-overflow-scrolling: touch;
}

#search-bar {
  width: 393px;
  height: 10%;
  bottom: 0px;
  background-color: grey;
  position: fixed;
  z-index: 1000;

  display: flex;
}

#search {
  width: 80%;
  height: 25px;
  margin-top: 20px;
  margin-left: 10%;
  outline: none;
  font-size: var(--small-font-size);
  border: none;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  border-bottom-color: black;
}


/* #region general */

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2mm;
  padding-left: 3mm;
  padding-right: 3mm;
  height: 6%;
}
/* endregion */

/* #region page 1 */

#page1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  gap: var(--gap-page1);
  box-sizing: border-box;
}

#position-mark-lists {
  height: 3mm;
  top: 0;
  right: 0;
  margin-top: 1mm;
}

.list-element {
  min-height: var(--heights-of-page1);
  height: var(--height-of-psage1);
}

/* #endregion*/

/* #region page 2 */
.hidden {
  display: none;
}

/*
#search {
  height: 5%;
  outline: none;
  font-size: var(--small-font-size);
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  border-bottom-color: black;
}
*/

#hub-container {
  min-height: 47%;
  max-height: 47%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 2mm;
  border-top-right-radius: 2mm;
  box-sizing: border-box;
  padding: 2mm;
}

#hub {
  width: calc(95% - 1mm);
  min-height: 100%;
  font-size: var(--small-font-size);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  position: relative;
  background-color: red;
}

#subcontainer-hub-one {
  display: none;
  flex-direction: row;
  margin-right: 0;
  height: 100%;
  width: 100%;
  margin:2mm;
  margin-right: 0mm;
}

#information-bar-hub {
  width: calc(5% - 1mm);
  display: flex;
  flex-direction: column;
  z-index: 9999;
  align-items: center;
  background-color: green;
}

#newObject-picker {
  height: 100%;
  width: calc(100% - 4mm);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  flex-direction: row;
  gap: 5px;
  padding: 2mm;
}

#newObject-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: none;
  flex-direction: column;
}

#newObject-preview {
  min-height: calc(100% - 24px);
  max-height: calc(100% - 24px);
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2mm;
}

#newObject-preview h3 {
  margin: 0;
  margin-bottom: 2mm;
}

#table-container-newObject {
  overflow-y: scroll;
}

#template-unfinished-newObjects {
  width: 100%;
  height: 10%;
}

#tool-bar-newObject {
  max-width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  padding-left: 2mm;
  padding-right: 2mm;
  overflow-x: hidden;

}

.button-confirm-wait-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button-confirm-green {
  background-color: #00a918
}


.button-wait-orange{
  background-color: orange;
}

.button-delete-red{
  background-color: red;
}

#button-confirm-newObject,
#button-wait-newObject,
#button-delete-newObject {
  width: 24px;
  height: 24px;
}

#subcontainer-newObject-picker-one {
  min-width: calc(50% - 2.5px);
  max-width: calc(50% - 2.5px);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#subcontainer-newObject-picker-two {
  min-width: calc(50% - 2.5px);
  max-width: calc(50% - 2.5px);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#newBlock {
  min-height: 10%;
  line-height: 100%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid grey;
}

#date-picker {
  width: 100%;
  height: 100%;
  background-color: green;
}

#preview-container {
  width: calc(100% - 2mm);
  min-height: calc(100% - 4mm);
  margin: 2mm;
  margin-right: 0mm;
  display: none;
  flex-direction: row;
  background-color: yellow;
}

#preview{
  width: 95%;
  min-height: 100%;
  padding: 2mm;
  display: flex;
  flex-direction: column;
  background-color: red;
}

#table-newObject {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

#table-newObject td {
  border: 1px solid #000;
  padding: 8px;
}

/* Oben links */
#table-newObject tr:first-child td:first-child {
  border-top-left-radius: 2mm;
}

/* Oben rechts */
#table-newObject tr:first-child td:last-child {
  border-top-right-radius: 2mm;
}

/* Unten links */
#table-newObject tr:last-child td:first-child {
  border-bottom-left-radius: 2mm;
}

/* Unten rechts */
#table-newObject tr:last-child td:last-child {
  border-bottom-right-radius: 2mm;
}



#table-newObject td {
  border: 1px solid black;
  overflow-x: hidden;
  outline: none;
  box-sizing: border-box;
  padding:1mm;
}

#information-bar-preview {
  width: 5%;
  min-height: 100%;
  background-color: green;

}

#navigation-bar-tasks {
  display: flex;
  justify-content: space-between; /* verteilt die Knoten */
  align-items: center;
  border: 5px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  box-sizing: border-box;
}

#navigator-bar-calendar-left {
  width: 100%;
  display: flex;
  gap: 4mm;
}


#tasks-container {
  min-height: 47%;
  width: 100%;
  min-width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-right: 0mm;
  background-color: white;
  border-bottom-left-radius: 2mm;
  border-bottom-right-radius: 2mm;
  padding:2mm;
}

#task-board {
  width: 95%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1mm;
  justify-content: left;
  box-sizing: border-box;
}

#task-history {
  width: 100%;
  height: calc(100% - 4mm);
  display: none;
  margin: 2mm;
  background-color: blue;
}

#button-close-task-history {
  width: 25px;
  height: 25px;
}

#date-picker {
  width:  100%;
  min-height: 100%;
  display: none;
  margin-right: 2mm;
  background-color: green;
}

#button-close-task-history {
  border: 1px solid black;
}

.template-task {
  font-size: 14px;
  height: auto;
  min-width: 100%;
  max-width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-color: lightgray;
  border-radius: 2mm;
  box-sizing: border-box;
  gap: 2mm;
}

#information-bar-tasks {
  width: 5%;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  align-items: center;
}

.title-without-add-on {
  width: 100%;
}

.title-with-add-on {
  width: calc(90% - 1mm);
}

.add-on {
  width: calc(12% - 1mm);
  overflow: hidden;
}


#currentDate {
  position: absolute;
  right: 5%;
}

#button-close-currentDate {
  height: 25px;
  width: 25px;
}

.little-square-button {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: white;
}

/* #endregion */

/* #region page 3 */
#navigation-bar-graph-view {
  display: flex;
  justify-content: space-between;
  gap: 1mm;
  height: 10%;
  border-top: 1px solid black;
}

#graph-view {
  height: 90%;
}

#preview-of-graph-view {
  height: 50%;
}

/* #endregion */

/* #region settings */
#settings {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0px;
  justify-content: flex-start;
}

#color-coding-of-calendar, #color-coding-of-graph{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2mm;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2mm;
  background-color: yellow;
}

.table-color-coding {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20%;
  background-color: orange;
  overflow-y: scroll;
}

.object {
  width: auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: yellowgreen;
  padding: 1mm;
}

.color-picker {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: blue;
}

#color-coding-of-graph-view {
  height: auto;
  background-color: lightgreen;
}

/* #endregion */


  /*
  .tomorrow {

  }

  day-after-tommorow {

  }

  .lists {

  }

  .statistics {

  }

  .storage {

  }

  .meal-plan {

  }

  .hub {

  }

  .today {

  }

  .graph-view {

  }

  .preview-of-graph-view {

  }
  */
